<div class="page-header"><h1>Upload Photo</h1></div>

<div id="flash_message" style="width: 300px; background: yellow; color: red"></div>

<div id="error_messages"></div>
<br>

<%= form_for @photo, url: api_v1_photos_path do |f| %>
  <%= render 'shared/errors', object: @photo %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control'%>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>